# templates/cni-config.yml.j2
---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-{{ rke2_cni }}
  namespace: kube-system
spec:
  valuesContent: |-
{% if rke2_cni_configs[rke2_cni] is defined %}
{{ rke2_cni_configs[rke2_cni] | to_nice_yaml(indent=2) | indent(4, true) }}
{% endif %}
